*{
	box-sizing: border-box;
}
body{
	
	font-size: 16px;
	background-color: black;
}
.container{
	background-color: #191917;
	padding: 10px;
	width: 90%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 60px;
	margin-left: 60px;

}

.box{
	width: 70px;
	height: 35px;
	background-color: #FBBA09;
	align-content: center ;
	position: absolute;
	left: 7%;
	top: 18px;
	padding: 2px;
	

	padding: 1px;
	border-radius: 3px;
	margin-bottom: -10px;
	margin-right: 10px;

}
.peru{
	text-align: center ;
	font-size: 18px;
	width: 65px;
	
	margin: 0px;
	position: absolute;
	top: 6.5px;
	left: 0px;
	right: 1px;
	font-family: 'Roboto';
	letter-spacing: 0.005px;
	

	color: black;
}
#small{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto';
}
.peru:hover{
	text-decoration: none;
	color: black;
}
.white{
	background-color: #E3E0D7;
	width: 53%;
	height: 34px;
	text-align: center;
	position: absolute;
	left: 16.32%;
	top: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 	3px;

	
	
}
.port{
	vertical-align: middle;
	font-size: 25px;
	position: absolute;
	top: 0px;
	left: 40%;
	font-family: 'Roboto';
	font-weight: bold;
	color: black;
	text-align: center;
}
.btns{
	width: 10%;
	position: absolute;
	right: 17%;
	top: 18px;
}

.btns button{
	
	background-color: #191917;
	color: white !important;
	border: none;
	font-size: 24px;
	height: 34px;
	padding: 0px;
}
#btn:hover {
	text-decoration: none;
	
	background-color: #4B4A48;
	
	border-bottom: solid 2px #FBBA09;
	border-radius: 3px;
}
#btn:active{
	text-decoration: none;
	
	background-color: #4B4A48;
	
	border-bottom: solid 2px #FBBA09;
	border-radius: 5px;

}
#btn a{
	color: white;
	text-decoration: none;

}
#btn a:hover a:active a:visited a:focus {
	text-decoration: none;
	color: white;}


.icons{
	
	width: 15%;
	height: 34px;
	position: absolute;
	right: 5px;
	
	top: 18px;
	padding: 5px;
}
#insta{
	
	color: white;
	font-size: 25px ;
	position: absolute;
	top: 5px;
	text-decoration: none;
	border-radius: 6px;
	height: 23px;
	width: 21px;
	opacity: 0.9;
	text-decoration: none;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );


}
#facebook{
	
	color: white;
	font-size: 24px ;
	position: absolute;
	top: 5px;
	left: 35px;
	opacity: 0.9;
	text-decoration: none;
	color: #4267B2;


}
#twitter{
	
	color: white;
	font-size: 24px ;
	position: absolute;
	top: 5px;
	left:57px;
	text-decoration: none;
	color: #1DA1F2;
	opacity: 0.9;

}
#info{
	
	color: white;
	font-size: 24px ;
	position: absolute;
	top: 5px;
	left: 90px;
	text-decoration: none;
	opacity: 0.9;

}
#insta:hover {
	opacity: 1;
	text-decoration: none;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#facebook:hover{
	text-decoration: none;
	color: #4267B2;
	opacity: 1;
}
#twitter:hover{
	text-decoration: none;
	color: #1DA1F2;
	opacity: 1;
}
#info:hover{
	text-decoration: none;
	color: white;
	opacity: 1;
}
.home{
	width:45%;
	background-color: black;
	height: auto;
	margin-left:6%;
	margin-top: 0px;
	position: absolute;
	left: 
	transition: 0.1s ease-in-out;
	margin-right: 


}
.one{
	width: 100%;
	height: auto;

	position: absolute;
	left: 0px;
	top: 0px;
	transition: 0.2s ease-in;
	opacity: 0.9;
	border: solid #E3E0D7 1px;
	
}
.one:hover{
	transform: scale(1.03);
}
.one:hover{
	opacity: 1;
	transform: 1.5;
	border:none;
}
.about{
	width: 30%;
	height: 100%;
	
	position: absolute;
	top: 80px;
	right: 10%;
}
hr{
	width: 100%
}
.para{
	width: 100%;
	height: 350px;

	
	position: absolute;
	top: 95px;
	left: 15px;
	background-image: linear-gradient(#1D1C1A, black) ;
	
	
	padding:5px;



}
.head{
	position: absolute;
	left: 20px;
	color: #FBBA09;
	top: 50px;
	font-size: 30px;
	margin: 0px;



}
.paragraph {
	font-size: 16px;
	color: #E3E0D7;
	position: absolute;
	top: 20px;
	left: 5px;

}






	
	
	

	
	


